FAtlas21Core/obj/
FAtlas21Core/bin/
FAtlas21UiExec/obj/
FAtlas21UiExec/bin/
FAtlas21Core.Test/bin/
FAtlas21Core.Test/obj/
Fabrador/obj/
Fabrador/bin/
FabradorConsole/obj/
FabradorConsole/bin/
.vs/
Fabrador.sln
